@use "@/styles/base/_colors.module.scss" as base;

.body {
  background: base.$primary-bg;
  height: 100vh;
  border: 1px solid grey;
  font-family: "Kanit", sans-serif;
  font-family: "Noto Sans TC", sans-serif;
}
