@use "@/styles/base/_colors.module.scss" as base;

.body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // min-height + display + flex-direction can bottom the footer,
  // also make sure add a margin-top: auto to the footer
  font-family: "Noto Sans TC", sans-serif;
  padding-top: 6.1rem;
  background: #fff;
  // border: 1px solid black;
}