@use "@/styles/base/_colors.module.scss" as base;

@import "common";

.container {
  main {
  }
}

.banner {
  background: linear-gradient(180deg, #CFDDEE 0%, rgba(255, 255, 255, 0.00) 100%);
  padding-top: 164px;
  //border: 1px solid #9F9F9F;
  &_inner {
    @include container();
    display: flex;
    justify-content: space-between;
  }
  &_start {
    max-width: 550px;
    h1 {
      color: #000;
      font-family: Krona One;
      font-size: 64px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      span {
        color: #1D9DD0;
      }
    }
    &_summary {
      margin-top: 28px;
      color: #575E62;
      font-family: Kanit;
      font-size: 32px;
      //font-weight: 300;
    }
    &_download {
      margin-top: 28px;
      text-align: center;
    }
  }
  &_end {

  }
}

.download {
  @include container();
  padding: 260px 0;
  &_text {
    color: #000;
    text-align: center;
    font-family: Noto Sans TC;
    font-size: 43.532px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    span {
      color: #1D9DD0;
    }
  }
  &_button {
    margin-top: 38px;
    text-align: center;
  }
}
