@use "@/styles/base/colors.module" as base;

@import "../styles/common";

.container {
  main {
  }
}

.banner {
  background: linear-gradient(180deg, #CFDDEE 0%, rgba(255, 255, 255, 0.00) 100%);
  padding-top: 164px;
  border-bottom: 1px solid #9F9F9F;
  @include on-mobile() {
    padding-top: 32px;
  }
  &_inner {
    @include container();
    display: flex;
    justify-content: space-between;
  }
  &_start {
    max-width: 550px;
    h1 {
      color: #000;
      font-family: Krona One;
      font-size: 64px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      span {
        color: #1D9DD0;
      }
    }
    &_summary {
      margin-top: 28px;
      color: #575E62;
      font-family: Kanit;
      font-size: 32px;
      //font-weight: 300;
    }
    &_download {
      margin-top: 28px;
      text-align: center;
    }
  }
  &_end {
    @include on-mobile() {
      display: none;
    }
  }
}

.carousel {
  padding-top: 72px;
  padding-bottom: 72px;
  &_inner {
    @include container;
  }
  &_item {
    text-align: center;
    img {
      display: inline-block !important;
      //height: 100%;
      //width: 80%;
      height: auto;
      width: 100%;
      //@include on-mobile() {
      //  width: 100%;
      //}
    }
  }
  &_control {
    display: flex;
    justify-content: center;
  }
}

.core {
  @include container();
  padding-top: 128px;
  padding-bottom: 128px;
  @include on-mobile() {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  border-top: 1px solid #9F9F9F;
  border-bottom: 1px solid #9F9F9F;
  h2 {
    text-align: center;
    color: #000;
    font-family: Krona One;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    span {
      color: #1D9DD0;
    }
  }
  &_list {
    margin-top: 164px;
    @include on-mobile() {
      margin-top: 64px;
    }
    &_item {
      text-align: center;
      &_image {
        img {
          $size: 180px;
          width: $size;
          height: $size;
        }
      }
      &_title {
        margin-top: 44px;
        color: #1D9DD0;
        text-align: center;
        font-family: Noto Sans TC;
        font-size: 29.533px;
        font-weight: 700;
      }
      &_description {
        margin-top: 14px;
        color: #000;
        text-align: center;
        font-family: Noto Sans TC;
        font-size: 22.15px;
        font-weight: 400;
      }
    }
  }
}

.download {
  @include container();
  padding: 260px 0;
  @include on-mobile() {
    padding: 64px 0;
  }
  &_text {
    color: #000;
    text-align: center;
    font-family: Noto Sans TC;
    font-size: 43.532px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    span {
      color: #1D9DD0;
    }
  }
  &_button {
    margin-top: 38px;
    text-align: center;
  }
}
